body {
    font-family: 'Pixelify Sans', sans-serif;
    color: #11c8ed;
    background: url('https://github.com/babelica/thevoicebabelica/blob/6d71f000b63a40a572c1873a30694fccb27c6cbf/Background.jpeg') no-repeat center center/cover;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

button.remove-button {
    background-color: #11c8ed;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

#controls {
    margin-top: 20px;
}
